﻿/* Page-specific styling */

/* Formatting for the sample buttons */

/*#set-subject {
    width: 100px;
    margin-right: 5px;
}

#get-subject {
    width: 100px;
}

#add-to-recipients {
    width: 205px;
}*/

ul, li, h1, h2, h3, h4, h5, h6 {
    padding:0;
    margin:0;
}

.page-header {
    background-color:#00b7f1;
    color:#fff;
    margin: 0 -15px 20px -15px;
    padding: 10px 10px;
    font-size: 16px;
}

.cn-form.form-horizontal {
    font-size: 11px;
    color: #777;
}

.cn-form.form-horizontal input, .cn-form.form-horizontal select{
    width:250px;
}

.cn-form.form-horizontal .col-extracontrol .form-control{
    display:initial;
    margin-right: 2px;
}

.cn-form.form-horizontal .floor-cont{
    width:80px;
}

